.myWay {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .nav-fill-remaining {
    flex: 1 1 auto;
  }
}