@import 'vendor/@angular2-material/sidenav/sidenav.css';
@import 'vendor/@angular2-material/button/button.css';
@import 'vendor/@angular2-material/toolbar/toolbar.css';
@import 'vendor/@angular2-material/input/input.css';
@import 'vendor/@angular2-material/card/card.css';
@import 'vendor/@angular2-material/grid-list/grid-list.css';

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body {
    margin:0;
}

.inputFieldErrorMessage {
    font-size: 13px;
	color: red;
}